{% extends '/layout.html' %}
{% import 'helpers.html' as helpers %}
{% block body %}
<form method="POST" class="row">
    <div class="col-md-4 offset-md-4">
        <h3 class="text-center mb-4">Bienvenid@</h3>

        {{ helpers.error_summary() }}

        <input type="text" name="login" class="form-control form-control-lg mb-3" placeholder="Login" required autocomplete="off">

        <input type="password" name="password" class="form-control form-control-lg mb-3" placeholder="Contraseña" required>                        
        
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
        </div>
    </div>              
</form>
{% endblock %}